* {
    padding: 0;
    margin: 0;
}

h1 {
    color:rgb(226, 226, 226);
    font-size: 60px;
    position: relative;
    top: -35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2, h3, p {
    color:rgb(226, 226, 226);
    text-align: left;
    padding-left: 250px;
}

p, h3, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mybutton {
    color: rgb(255, 255, 255);
    font-size: 18px; line-height: 18px;
    padding: 18px; border-radius: 0px;
    background-color:rgb(46, 46, 46);
    display: inline-block;
}

.button{
    padding: 18px; border-radius: 0px;
    margin: 50px;
    background-color:rgb(46, 46, 46);
    display: inline-block;
}

.myphoto{
    float: left;
    position: relative;
}
.part2{
    text-align: center;
    padding: 100px;

}

.allbody {
    padding: 100px;
    background-color:rgb(46, 46, 46);
    text-align: center;
    }

.designs{
    height: 150px;
    border: 7px solid white;
    margin: 20px;
}

.designs:hover {
transform: scale(2.8); 
}

a:link{
    color:silver;
    text-decoration: none;

}
a:visited {
    color: white;
    text-decoration: none;
}