h1, h2, h3, h4, h5, h6, ul, ol, p, tr {
  font-family: "helvetica", sans-serif;
  color: #4c4c4c;
  font-size:1.2em;
}

h1 {
  font-size: 50px;
  line-height: 25px
}

#gotop{
  float: right;
  font-family: "helvetica", sans-serif; color: #4c4c4c;
}

th, td {
  padding: 3px;
  text-align: left;
  width: 250px;
}

a{
  text-decoration: none;
}

a:visited{
  color: grey;
}

h3, th{
  text-transform:uppercase;
}

#my-photo {
  float: left;
  margin-right: 50px;
}

.headline-style{
  letter-spacing: 20px;
  background-color: lightgrey;
  padding: 25px 20px 25px 20px;
}

p, #summary #strong, .grey-BG {
  background-color: lightgrey;
  font-family: helvetica;
  padding: 10px;
}

#main-container {
  float: center;
  height: auto;
  padding: 50px;
}

#toppart{
  width:70%;
  padding: 20px;
}

#restofthepage{
  position:relative;
  top: -200px;
}

#menu{
  width:30%;
  padding:20px;
  position:relative;
  left:1000px;
  top:-230px;
}

#address{
  padding-left: 280px;
}