* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(100, 158, 206);
    padding: 5px;
    /* margin: 1rem; */
    font-family: Helvetica, sans-serif;
    color: rgb(35, 92, 138);
}

header {
    font-size: 45px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding-top: 45px;

}

h2 {
    font-size: 35px;
    padding: .3rem 0 .3rem 0;
    margin-top: 35px;
    text-align: center;
    color: rgb(35, 92, 138);
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

li  {
    background-color: white; 
    border-radius: 20px;
}

.grid-item:nth-child(1) {
    width: calc(100% - 10px);
    min-height: 250px;
}

.grid-item {
    background-color: rgb(255, 255, 255);
    /* border: 1px solid darkslategrey; */
    width: calc(50% - 10px);
    min-height: 390px;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
}

#grid-floats .grid-item {
    float: left;
}

#grid-floats::after {
    content:'''';
    display: block;
    clear: left;
    height: 20px;
}

.grid-item img {
    width: 100%;
}

ul {
    list-style-type: none;
}

#grid-flex {
    display: flex;
    flex-wrap: wrap;
}


@media (min-width: 600px){
    .grid-item:nth-child(-n+2) {
        width: calc(50% - 10px);
        min-height: 370px;
    }
    .grid-item:nth-child(1) img {
        width: 93%;
    }
    .grid-item:nth-child(n+3) {
        width: calc(33.3333% - 10px);
        height: 420px;
    }
}

@media (min-width: 1024px){
    .grid-item:nth-child(-n+1) {
        width: calc(50% - 10px);
        height: 420px;
    }
    .grid-item:nth-child(1) img {
        width: 75%;
    }
    .grid-item:nth-child(n+2) {
        width: calc(25% - 10px);
        height: 420px;
    }
}
